@{
	ViewData["Title"] = "Order";
	Layout = "_ManagementLayout";
}

@model IEnumerable<OrderDetail>

<table class="table table-hover pt-10">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total price</th>
        </tr>
    </thead>
    <tbody id="body-order-detail-table">
        @foreach (OrderDetail od in Model)
        {
            <tr>
                <th scope="row">@od.order_detail_id</th>
                <th>@od.book.title</th>
                <th>
                    <img src="~/img/book/@od.book.image" style="width:8rem; height:9rem" />
                </th>
                <th>$@od.book.price</th>
                <th>@od.quantity</th>
                <th>$@(od.book.price * od.quantity)</th>
            </tr>
        }
    </tbody>
</table>