@{
    ViewData["Title"] = "Supplier";
    Layout = "_ManagementLayout";
}
@model Supplier

<form asp-controller="Supplier" asp-action="Edit" method="post">
    <label for="txt_sup_name">Category name</label>
    <input type="hidden" asp-for="sup_id">
    <input type="text" asp-for="name" placeholder="supplier name" class="form-control mb-1" required>
    <input type="text" asp-for="address" placeholder="address" class="form-control mb-1" required>
    <div style="float: right;">
        <button type="submit" class="btn btn-success">Add</button>
        <a asp-action="Index" asp-controller="Supplier">
            <button type="button" class="btn btn-secondary">Cancel</button>
        </a>
    </div>
</form>