<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link rel="stylesheet" href="/css/share/page404.css">
</head>
<body style="background:green">
    <div id="clouds">
        <div class="cloud x1"></div>
        <div class="cloud x1_5"></div>
        <div class="cloud x2"></div>
        <div class="cloud x3"></div>
        <div class="cloud x4"></div>
        <div class="cloud x5"></div>
    </div>
    <div class='c'>
        <div class='_404'>Success</div>
        <hr>
        <div class='_2'>@ViewBag.message</div>
        <a class='btn btn-back' style="color:green">BACK TO PREVIOUS PAGE</a>
    </div>
</body>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-back').click(function () {
            if (history.length > 1) {
                history.back();
            } else {
                window.location = "/";
            }
        })
    })
</script>
</html>