@{
    ViewData["Title"] = "Cart";
    Layout = "_CustomerLayout";
}

@section Styles{
	<link href="~/css/customer/cart.css" rel="stylesheet"  asp-append-version="true" />
}
@using BookShop.Repository
@model IEnumerable<OrderDetailViewModel>

<div class="card" style="min-height: 32rem;">
	<div class="row">
		<div class="col cart" style="padding: 3rem">
			<div class="title">
				<div class="row">
					<div class="col-11"><h4><b style="color: rgb(61, 194, 202)">History</b></h4></div>
					<div class="col-1 align-self-center text-right text-muted">@Model.Count() items</div>
				</div>
			</div>
			@foreach (OrderDetailViewModel od in Model)
			{
				<div class="row">
					<div class="row main align-items-center" style="text-align:center">
						<div class="col-2"><img class="img-fluid" src="~/img/book/@od.image"></div>
						<div class="col">
							<div class="row text-muted">@od.title</div>
						</div>
						<div class="col">
							<a class="">@od.quantity</a>
						</div>
						<div class="col">$@od.price</div>
						<div class="col">@od.date.ToShortDateString()</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>